*.iml
/.idea
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/app/build
/base_module/build
/liveMulti/build
/chat_module/build
/library_module/build
/openvioce_module/build
/gradle
app/src/main/res/drawable-xxhdpi/
app/src/main/res/drawable-xxxhdpi/
base_module/src/main/java/com/zhiwan/hamitao/base_module/rxbus/
jpushDemo/libs/
.svn/
